## Question 1 

How many matches ended in “tie” and played “super-over”?

In [25]:
# importing libraries and data
import pandas as pd
import matplotlib.pyplot as plt

matches = pd.read_csv("./matches.csv")
deliveries = pd.read_csv('./deliveries.csv')

In [ ]:
matches.head()

In [ ]:
match_tie = matches.loc[matches['result'] == 'tie']['id']
match_tie

In [100]:
# deliveries['match_id'].value_counts()

super_over = deliveries.loc[deliveries['is_super_over'] == 1].groupby(by ='match_id', as_index=False).count()['match_id']
# super_over['math'] = 

super_over == match_tie.values

0    True
1    True
2    True
3    True
4    True
5    True
6    True
Name: match_id, dtype: bool

## Question 2 

Which team had won by maximum runs? For this match, list the venue, date, player of the match, city, and season?
  ['venue', 'date', 'player_of_match', 'city', 'season']

In [99]:
matches.loc[matches['win_by_runs'] == max(matches['win_by_runs'])]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN

## Question 3 

How many toss-winning teams have chosen to field and won the matches? What is the percentage of it? Use a suitable graph
to show the result visually.